<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/" class="logo">
                <span class="fa fa-book"></span> <span class="title">Book Online Store Website</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/" class="active">Home</a></li>

            <li><a href="/products">Products</a></li>

            <li><a href="/user/signup">Sign-up</a></li>

            <li><a href="/user/login">Log-in</a></li>

            <li><a href="/user/logout">Log-out</a></li>

            <li>
                <a href="/manage/stored/product" class="dropdown-toggle">Manager Product</a>

                <ul>
                    <li><a href="/manage/product/addProduct">Add Product</a></li>
                </ul>
            </li>

            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>