<!--Add product-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-3 mt-0 mb-5 border border-1 p-5 rounded">
            <form action="/manage/product/addPro" method="POST">
                <h1 class="mb-3">Add Product</h1>
                <div class="form-group">
                    <label class="name">Tên Sản Phẩm</label>
                    <input name="name" id="name" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label">Giá Cũ</label>
                    <input name="oldprice" class="form-control" type="number">
                </div>
                <div class="form-group">
                    <label class="form-label">Giá Mới</label>
                    <input name="price" class="form-control" type="number">
                </div>
                <div class="form-group">
                    <label class="form-label">Mô tả ngắn</label>
                    <input name="sortdescription" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label">Mô tả</label>
                    <input name="description" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label">Hình ảnh</label>
                    <input name="image" class="form-control" type="text">
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-success justify-content-end btnadd">Add to Product</button>
                </div>
            </form>
        </div>
    </div>
</div>